#container {
  width: 380px;
  height: 360px;
  padding: 20px;
  border: 3px solid #a39c9c;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
  box-shadow: 2px 2px 10px rgb(49, 49, 49);

  backdrop-filter: blur(10px);
}

#container:hover {
  box-shadow: 10px 20px 100px #fffefe;
}

h1 {
  color: #ff2c2c;
  text-shadow: 3px 5px 10px black;
  font-weight: bolder;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  justify-content: space-between;
  font-weight: bolder;
  color: black;
}

input:hover {
  background-color: #f74949;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: #838080;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgb(216, 211, 211);
}

button:hover {
  background-color: #ff2c2c;
}

body {
  background-image: url(./pics/header.jpg);
}

.nav__logo img {
  max-width: 100px;
  border-radius: 1000px;
} 
.checkbox{
  text-align: left;
}